<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>index</h1>
  <a href="{% url 'articles:new' %}">새글 작성</a>
  
  {% for article in articles %}
  <a href="{% url 'articles:detail' article.pk %}">detail로 이동</a>
  <p>제목 : {{ article.title }}</p>
    <p>내용 : {{ article.content }}</p>
    <hr>
  {% endfor %}
</body>
</html>